nav {
  background: #FFCC00;
  font-size: 20px;
  font-weight: bold;
}

.menu-toggle {
  border: none;
}

.text-dark{
  color: #352245;
}

.info-label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}