html {
  font-family: "Titilium Web", sans-serif;
}

.static-container {
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 20px 0px;
}

.static-container p {
  margin: 10px 0px;
}

.static-container h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.static-container h2 {
  margin: 20px 0px;
  font-size: 1.7em;
}

.static-container h3 {
  margin: 10px 0px;
  font-size: 1.4em;
}

.static-container a {
  text-decoration: none;
}

.static-container ul {
  padding-left: 40px !important;
  margin: 20px 0px;
}

.static-container li {
  list-style-type: disc;
}

.static-container .emphasize {
  font-weight: 700;
}
