html {
  font-family: "Titilium Web", sans-serif;
}

.static-container {
  font-size: 1.25em;
  line-height: 1.5em;
  padding: 20px 0px;
}

.static-paragraph {
  margin: 10px 0px;
}

.static-h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.static-h2 {
  margin: 20px 0px;
  font-size: 1.7em;
}

.static-h3 {
  margin: 10px 0px;
  font-size: 1.4em;
}

.static-link {
  text-decoration: none;
}

.static-list {
  padding-left: 40px !important;
  margin: 10px 0px;
}

.static-list li {
  list-style-type: disc;
}
