.x-container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 85%;
  margin: 0 auto;
  margin-top: -120px;
}

.border-radius {
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.chart {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
}

.chart-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e6e6e6;
}

.chart-line-text {
  text-align: end;
  transform: translateY(-100%);
  font-weight: bold;
  font-size: 10px;
  line-height: 15px;
  color: #bababa;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.chart-bar {
  width: 100px;
  height: 100%;
  min-height: 2%;
  background-color: #352245;
  z-index: 10;
}

.chart-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 41px;
  color: #6b6b6b;
}

.legend {
  position: relative;
  top: -140px;
  /* left: 50%; */
}

/* .legend:after {
  content: '';
  height: 20px;
  width: 50%;
  background: transparent;
  position: relative;
  display: block;
  left: 50%;
  border-top: 2px solid black;
  border-right: 2px solid black;
} */

.legend>.percentage {
  font-weight: bold;
  font-size: 26px;
  line-height: 48px;
  text-align: center;
}

.legend>.count {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #a9a9a9;
  text-align: center;
}

.legend>.text {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.vote-monitoring-title-presence {
  padding: 40px 0;
  font-size: 1.75em;
  text-decoration: underline;
  position: relative;
  top: -120px;
  text-align: center;
}

.vote-monitoring-total {
  position: relative;
  left: -36px;
  top: -160px;
  font-size: 1.25em;
  padding-left: 10px;
  font-weight: 700;
  text-align: center;
}

.diaspora-chart {
  justify-content: center;
}

.bars-spacing {
  margin-bottom: 50px;
}

@media screen and (max-width: 575px) {
  .vote-monitoring-title-presence {
    left: 0;
  }

  .x-container {
    grid-template-columns: 1fr;
  }

  .chart-container {
    flex-direction: column;
    align-items: initial;
  }

  .chart-bar {
    min-width: 2%;
  }

  .legend>.count {
    display: none;
  }

  .legend>.percentage {
    line-height: 28px;
  }

  .legend>.text {
    position: absolute;
  }

  .legend {
    top: 0;
    width: max-content;
    left: calc(100% + 10px);
  }

  .diaspora-chart {
    height: unset;
    justify-content: unset;
  }

  .diaspora-chart>.chart-bar {
    height: 48px;
    width: 45%;
  }

  .diaspora-chart .legend>.text {
    display: unset;
  }

  .diaspora-chart .legend>.percentage {
    line-height: unset;
  }

  .bars-spacing {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .chart-bar {
    width: 85px;
  }
}
