.votes-container {
  padding: 30px 0;
}

.container-text {
  font-size: 1.25em;
  text-align: center;
}

.votes-container>p {
  margin-bottom: 30px;
}

.votes-title {
  font-size: 2.25em;
  margin-bottom: 10px;
  font-weight: bold;
}

.votes-numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes-results {
  height: 100px;
  width: 20%;
  min-width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #352245;
  color: #fff;
}

.votes-percent {
  font-size: 2em;
  padding-bottom: 5px;
}

.votes-text {
  font-size: 1em;
}

.default-container {
  margin-bottom: 30px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: #352245;
  color: #fff;
  font-size: 1.75em;
}

.question-text {
  text-align: center;
}

.bar-container {
  width: 100%;
  height: 80px;
  background-color: #dbdbdb;
  margin-bottom: 1%;
  display: flex;
}

.bar-icon {
  width: 80px;
  height: 80px;
}

.bar-icon img {
  width: 100%;
  height: 100%;
}

.bar-candidate {
  background-color: #fff;
  align-items: center;
  justify-content: center;
  color: #352245;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  padding-right: 10px;
  width: 20%;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-candidate-name {
  font-size: 1.75em;
  margin-left: 0.25em;
}

.bar-votes-result {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.bar-results {
  display: contents;
}

.bar-votes {
  height: 100%;
  background-color: #FFCC00;
  display: flex;
  justify-content: flex-end;
  min-width: 8px;
}

.bar-votes-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -70px;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

.bar-votes-percent {
  font-size: 2em;
  background-color: #352245;
  padding: 5px;
  margin-left: -8px;
}

.bar-votes-number {
  font-size: 1.5em;
  margin-right: 5px;
  color: #352245;
}

.counties-select.dropdown-button {
  border: 1px solid #cfcfcf;
  border-radius: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  margin-bottom: 8px;
}

.counties-select.dropdown-button>span {
  width: 100%;
}

.counties-select.dropdown-button>span span {
  color: #8f8f8f;
  font-size: 22px;
  font-weight: bold;
}

.show-all-container {
  display: flex;
  justify-content: flex-end;
}

.show-all-btn {
  background-color: #352245;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  height: 42px;
  margin-bottom: 30px;
}

/* select styles */

.first-option>div {
  padding-left: 12px;
  height: 32px;
  margin-bottom: 5px;
}

.last-option>div {
  padding-left: 12px;
  height: 32px;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 5px;
}

.county-text {
  font-weight: bold;
  color: #000;
  padding-left: 12px;
}

@media (max-width: 800px) {

  .bar-candidate-name,
  .bar-votes-number,
  .bar-votes-percent {
    font-size: 1em;
  }

  .bar-container {
    height: 50px;
  }

  .bar-icon {
    width: 50px;
    height: 50px;
  }

  .bar-votes-percent {
    width: 64px;
  }

  .child-bar {
    min-width: 15%;
  }

  .parent-bar {
    padding-left: 17%;
  }

  .vote-monitoring-title {
    text-align: center;
  }
}

@media (min-width: 800px) {

  .bar-candidate-name,
  .bar-votes-number,
  .bar-votes-percent {
    font-size: 1.25em;
  }

  .bar-container {
    height: 60px;
  }

  .bar-icon {
    width: 60px;
    height: 60px;
  }

  .bar-votes-percent {
    width: 80px;
  }

  .child-bar {
    min-width: 7%;
  }

  .parent-bar {
    padding-left: 9%;
  }
}

@media (min-width: 1400px) {

  .bar-candidate-name,
  .bar-votes-number,
  .bar-votes-percent {
    font-size: 1.5em;
  }

  .bar-container {
    height: 80px;
  }

  .bar-icon {
    width: 80px;
    height: 80px;
  }

  .bar-votes-percent {
    width: 100px;
  }

  .child-bar {
    min-width: 5%;
  }
}
