footer {
  background-color: #110d64;
}

footer .social-media-container {
  display: flex;
  justify-content: flex-end;
  background-color: #F5F5F5;
  border-top: 1px solid #E0E0E0;
}

.social-link-item {
  height: 48px;
  margin-left: 2px;
}

#donate-link-button {
  max-width: 200px;
  width: calc(100vw - 200px);
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 17px;
  background-color: #28a745;
  text-decoration: none;
}

.footer.container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.link-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.link-item {
  color: inherit;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 23px;
}

.link-item:hover {
  color: inherit;
  text-decoration: none;
}

.input-large {
  height: 48px;
  font-size: 12px;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}

@media screen and (max-width: 575px) {

  footer {
    text-align: center;
  }

  .usefull-links {
    margin-bottom: 10px;
  }

  .logo-container {
    justify-content: center;
  }

}
