#root {
  overflow: hidden;
}

.vote-monitoring-container {
  background-color: #e5e5e5;
  margin-bottom: 130px;
}

.vote-monitoring-title {
  padding: 40px 0;
  font-size: 1.75em;
  text-decoration: underline;
  position: relative;
  text-align: center;
}

.vote-monitoring-message {
  font-size: 1.25em;
  position: relative;
  padding: 20px;
  text-align: center;
}

.vote-monitoring-area {
  background-color: #443f46;
  width: 20%;
  height: 123px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.vote-monitoring-numbers {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.area-number {
  font-size: 2.5em;
}

.area-text {
  font-size: 1em;
  text-align: center;
}

.vote-monitoring-info {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  margin: 0 auto;
}

.info-legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.info-legend.bars {
  flex-direction: column;
  position: relative;
}

.full-width-container {
  position: relative;
  background-color: #e5e5e5;
  padding-bottom: 130px;
}

.full-width-container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  border-left: 9999px solid #e5e5e5;
  box-shadow: 9999px 0 0 #e5e5e5;
}

.square {
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 10px;
}

.square.right {
  background-color: #FFCC00;
}

.square.left {
  background-color: #352245;
}

.parent-bar {
  width: 100%;
  height: 56px;
  background-color: #352245;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  justify-content: flex-end;
}

.child-bar {
  background-color: #FFCC00;
  height: 56px;
  position: absolute;
  top: 29px;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 1.5em;
}

.legend-container {
  display: flex;
  align-items: center;
}

.legend-container.space {
  margin-right: 56px;
}

@media screen and (max-width: 575px) {
  .vote-monitoring-title {
    left: 0;
  }

  .vote-monitoring-info {
    width: 80%;
  }

  .vote-monitoring-numbers {
    align-items: center;
  }
}
