.inline-results {
    display: flex;
    justify-content: space-between;
}

.turnout {
    font-size: 1.1em;
    text-decoration: underline;
}

.results-inline-container {
    margin-top: 1em;
}

.bar-election-results {
    padding-top: 20px;
}

.bar-election-results .title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}